# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

# Dữ liệu lớn (vượt/sát giới hạn 100MB của GitHub)
*.zip

# OS / editor
Thumbs.db
.DS_Store
.vscode/
.idea/

# Folder dữ liệu
/Task 1/LegalR - Public Test/selected-contexts/
/Task 2/LegalQA - Public Test/selected-contexts/

# Local credentials
codabench.txt
